.heading{
    text-align: center;
    /* background-color: rgb(191, 255, 0); */
    background-color: sandybrown;
    text-transform: capitalize;
    font-size: 35px;
    border: 2px inset red;
    
}

.slots{
    box-sizing: border-box;
    text-align: center;
    width: 400px;
    height: 20vh;
    padding-bottom: 30px;
    margin-left: 35%;
    border: 2px groove red;
    background-color: rgb(0, 255, 255);

}